body{
    background-color: rgb(250, 243, 248);
}
.container{
    border-radius: 30px 30px 0 0;
    background-color: #fff;
    margin: 80px;
}
main{
    margin-left: 80px;
}
header{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 80px;
    margin-right: 60px;
}

.name-site{
    font-size: 20px;
    text-transform: capitalize;
    width: 15%;
    margin-top: 40px;
}

#blue{
    color: rgb(23, 102, 158);
}
.menu-site{
    text-align: center;
    width: 70%;
    margin-top: 40px;
}
.menu-site a{
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    text-transform: capitalize;
    color: grey;
}

.menu-site a:hover{
    color: rgb(9, 89, 146);
}
header button{
    width: 100px;
    height: 35px;
    background-color: rgb(232, 40, 73);
    border-radius: 10px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    margin-top: 35px;
}
button{
    width: 150px;
    height: 40px;
    background-color: rgb(232, 40, 73);
    border-radius: 10px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.image img{
    border-radius: 100%;
    padding: 5px;
}
.image img:hover{
    border: 2px solid red;
}
.image{
    margin-top: 40px;
    margin-bottom: 40px;
}
.left a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(12, 119, 201);
}
a img{
    margin-top: 50px;
}
.left h1{
    font-size: 46px;

}
.left p{
    font-size: 18px;
    color: rgb(155, 154, 154);
}

.bottom{
    display: flex;
}
.gauche{
    flex: 1;
}
.droite{
    flex: 1.5;
}
.gauche h1{
    font-size: 46px;
}
.gauche p{
    color: rgb(155, 154, 154);
    font-size: 18px;
}
.blue{
    color: rgb(9, 89, 146);
    margin-top: -30px;
}
input[type="button"]{
    width: 150px;
    height: 40px;
    background-color: rgb(232, 40, 73);
    border-radius: 10px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.blog1{
    display: flex;
}
.book-d{
    margin: 30px;
    border: 1px solid;
    width: 30%;
}
.to-go{
    margin: 30px;
    border: 1px solid;
    width: 30%;
}
.blog2{
    display: flex;
}
.go-to{
    margin: 30px;
    border: 1px solid;
    width: 30%;
}
.enjoy{
    margin: 30px;
    border: 1px solid;
    width: 30%;
}

