header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 80px 30px 60px;
}

.name-site{
    font-size: 24px;
    text-transform: capitalize;
}

#blue{
    color: rgb(23, 102, 158);
}
.navbar li{
    list-style: none;
    display: inline;
}
.navbar a{
    text-decoration: none;
    margin-left: 2rem;
    text-transform: capitalize;
    color: #000;
}

header button{
    width: 100px;
    height: 35px;
    background-color: rgb(232, 40, 73);
    border-radius: 10px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    border: none;
}

.image img{
    border-radius: 100%;
    padding: 5px;
}
.image img:hover{
    border: 2px solid red;
}
.image{
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo{
    display: flex;
    background-color: #f8f8f8;
}
.logo img{
    padding-left: 13.5%;
    margin: 30px 0  30px 0;
}

button{
    width: 160px;
    height: 45px;
    background-color: rgb(232, 40, 73);
    border-radius: 10px !important;
    text-align: center;
    color: white;
    text-transform: capitalize;
    border: none;
    margin-top: 30px;
}
.book-d{
    box-shadow: 1px 1px 3px 3px rgb(192, 190, 190);
    border-radius: 5px;
}
.to-go:hover{
    box-shadow: 1px 1px 3px 3px rgb(192, 190, 190);
    border-radius: 5px;
}
.go-to:hover{
    box-shadow: 1px 1px 3px 3px rgb(192, 190, 190);
    border-radius: 5px;
}
.enjoy:hover{
    box-shadow: 1px 1px 3px 3px rgb(192, 190, 190);
    border-radius: 5px;
}
.paysage{
    width: 450px;
    position: absolute;
}
.user{
    position: relative;
    background-color: white;
    display: flex;
    width: 140px;
    top: -2rem;
    left: 6rem;
    border-radius: 5px;
    border: 1px solid  rgb(236, 235, 235);
}
.icon img{
    background-color: rgb(235, 232, 232);
    border-radius: 5px;
    margin: 5px;
}

.visit{
    position: relative;
    background-color: white;
    display: flex;
    width: 140px;
    top: 13em;
    right: -10rem;
    border-radius: 5px;
    border: 1px solid  rgb(236, 235, 235);
}
.dest{
    position: relative;
    background-color: white;
    display: flex;
    width: 140px;
    bottom: 15%;
    border-radius: 5px;
    border: 1px solid  rgb(236, 235, 235);
}






